<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Nickaella Notra</h1>
    <h2>Experience</h2>
    <ul>
        <li>Personable IT consultant with 4+ years of experience<br>
            in a global technology firm. CompTIA A+ Certification.<br>
            Scored region-leading QST rating based on internal review<br>
            (98.76%). Seeking to leverage solid technical skills and<br>
            abilities to advance my career as the next IT consultant<br>
            for Techno Group.</li>
        <li>Cut data processing time by 50% by building a new cloud<br>
            data infrastructure, leading to more timely insights.</li>
        <li>Worked with the CEO to analyze 10+ technology systems<br>
            and consolidate them into a new system that encompassed<br>
            all programs needed to reach business needs.</li>
      </ul>  
    <h2>Education</h2>
    <ul>
        <li>Livingstone Christian Academy</li>
        <li>Benigno S.Aquino National High School</li>
        <li>Holy Angel University</li>
    </ul>  
    <h2>Skills</h2>
    <ul>
        <li>Java</li>
        <li>Python</li>
        <li>HTML</li>
        <li>C++</li>
        <li>Javascript</li>
    </ul>  

    <p></p>
  </body>
</html>